html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    --bg-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    width: 100%;
    max-width: 100%;
    height: auto;
}

input,
button {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    border: none;
    appearance: none;
}

input:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-block: 0;
    font-weight: 400;
}

body {
    width: 100%;
    min-height: 100vh;
}


.body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 5%;

}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: #37c0e9;
}

.logo {
    order: 1;
}

.logo__figure {
    overflow: hidden;
    width: 10rem;
    /* height: 8rem; */
}

.logo__figure__image {
    object-fit: cover;
}

.header__text {
    font-size: 0.7rem;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 0.85rem;
}

.data-issuer-client {
    width: 100%;
    display: flex;
    gap: 2rem;
    font-size: 0.85rem;
}

.data {
    width: 50%;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    /* padding: 0.75rem; */
    /* border: 2px solid #37c0e9; */
    border-radius: 1rem;
}

.data__text {
    display: flex;
    /* gap: 4rem; */
}

.data__title {
    width: 4.5rem;
    font-weight: bold;
}

.data__title--width{
    width: 9rem;
}

.data-invoice {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.85rem;
    border-radius: 1rem;
}

.data-invoice-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.data__text__invoice {
    display: flex;
    flex-direction: column;
}


.data-invoice .data__title {
    width: auto;
}

table {

    border: 1px solid rgb(190, 190, 190);
}

th {
    padding: 0.5rem;
    text-align: center;
    color: #ffffff;
    background-color: #768083;
    border: 1px solid rgb(190, 190, 190);
}

td {
    padding: 0.5rem;
    vertical-align: top;
    border: 1px solid rgb(190, 190, 190);
}

.td-center {
    text-align: center;
}

.hidden-td {
    display: none;
}

.name {
    padding-bottom: 0.5rem;
}

.product__details {
    padding-left: 2rem;
}

.product__details li {
    padding-bottom: 0.25rem;
    text-transform: capitalize;
    list-style: square;
}

.title-product {
    width: max-content;
    font-weight: bold;
    /* font-size: 1rem; */
    /* border-bottom: 2px solid #000; */

}

.data-total {
    /* width: 50%; */
    display: grid;
    grid-template-columns: 8rem 6rem;
    justify-content: end;
    column-gap: 2rem;
    row-gap: 0.2rem;
    /* grid-template-rows: repeat(); */
}


.data-total__title {
    justify-self: end;
    font-weight: bold;
    /* width: 8rem; */
}

.data-total__value {
    justify-self: end;
}

.extra {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    row-gap: 0.2rem;
}

.extra__title {
    font-weight: bold;
    justify-self: end;
}


.product {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.product-colum {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}